* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #001821;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.42em;
}

a {
  text-decoration: none;
  color: #fff;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;

  background-repeat: no-repeat, no-repeat;
  background-position: top, right -5px bottom 160px;
  background-size: cover cover;
}

.container {
  max-width: 1142px;
  margin: 0 auto;
}
.header__inner,
.main__inner,
.footer__inner {
  margin-right: auto;
}
