* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #001821;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    background-image: url(../../img/first-bg.jpg), url(../../img/second-bg.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

.container {
    min-width: 60%;
    max-width: 1140px;
    margin: 0 auto;
}

.header__container {
    margin-bottom: 46px;
}

.hero {
    margin-bottom: 246px;
}

.travels {
    margin-bottom: 227px;
}

.news {
    margin-bottom: 152.5px;
}
