.about {
  display: flex;
  flex-direction: column;
  align-items: start;
  min-height: 455px;
  max-width: 785px;
  border-radius: 5px;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  padding: 69px 79px 66px;
}

.about__title {
  margin-bottom: 37px;
  font-size: 36px;
  line-height: 1.36em;
}
.about p {
  max-width: 85%;
  font-size: 16px;
  line-height: 1.7em;
  margin-bottom: 43px;
  color: #060606;
}
