.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 55px;
    font-weight: 700;
    border-radius: 35px;
    font-size: 14px;
    text-transform: uppercase;
}

.button_bg_red {
    background-color: #f5170e;
    color: #fff;
}

.button_color_red {
    color: #f5170e;
    border: 1px solid #f5170e;
}
