.card {
    max-width: 362px;
    min-height: 449px;
    display: block;
    background-color: transparent;
    color: #303030;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1.5em;
}

.card__img {
    display: block;
    border-radius: 5px 5px 0 0;
}

.card__inner {
    border-radius: 0 0 5px 5px;
    padding: 34px 16px 26px 22px;
    background-color: #fff;
}

.card__title {
    font-size: 24px;
    line-height: 1.34em;
    text-align: left;
    font-weight: 700;
    margin-bottom: 21px;
    color: #000;
}
.card__list {
    font-size: 16px;
    line-height: 1.37em;
    margin-bottom: 23.5px;
}
.card__item:first-of-type {
    margin-right: 25px;
}
.card__item {
    display: inline-block;
    vertical-align: sub;
}
.card__item:first-of-type:before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 26px;
    height: 26px;
    background-image: url(../../img/calendar.png);
    margin-left: 6px;
    margin-right: 10px;
}

.card__item:nth-of-type(2) {
}

.card__item:nth-of-type(2):before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 36px;
    height: 26px;
    background-image: url(../../img/meal.png);
    margin-right: 9px;
}

.card__text {
    margin-bottom: 24.5px;
}
