.contacts__phone {
    font-size: 26px;
    line-height: 1.36em;
}

.contacts__details {
    color: #9a9a9a;
    font-size: 11px;
    position: relative;
}

.contacts__details_pos_bottom {
    max-width: 160px;
    margin-top: -9px;
    margin-right: 2px;
    margin-left: auto;
}
