.contacts {
  display: flex;
  flex-direction: column;
}

.contacts__phone {
  font-size: 26px;
  line-height: 1.36em;
}

.contacts__details {
  color: #9a9a9a;
  font-size: 11px;
}

.contacts__details_pos_bottom {
  position: relative;
  margin-right: 2px;
  margin-top: -9px;
  text-align: right;
}
