.footer {
  background-color: #001821;
}

.footer__inner {
  display: flex;
  justify-content: start;
  align-items: center;
  max-width: 1142px;
  padding-top: 43px;
  padding-bottom: 40px;
  margin-left: 1px;
}

.footer__logo {
  margin-bottom: 12px;
  margin-right: 80px;
}
.footer__menu {
  margin-right: auto;
}
.footer__socials {
  display: flex;
  margin-right: 67px;
}
.footer__contacts {
  text-align: right;
}
.footer__inner_logo_big {
  margin-left: 0px;
  padding-top: 47px;
  padding-bottom: 32px;
}
.footer__logo_size_big {
  width: 98px;
  height: 42px;
  margin-right: 66px;
  margin-left: 2px;
}
