.footer__inner {
  display: flex;
  justify-content: start;
  align-items: center;
  max-width: 1142px;
  min-height: 146px;
  padding: 33px 0 40px 0;
  margin-left: 1px;
}

.footer__logo {
  margin-bottom: 12px;
  margin-right: 80px;
}
.footer__menu {
  margin-right: auto;
}
.footer__socials {
  display: flex;
  margin-right: 67px;
}
.footer__contacts {
  text-align: right;
}
