.footer {
  background-color: #001821;
}

.footer__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

.footer__logo {
  margin-bottom: 12px;
  margin-right: 80px;
}
.footer__menu {
  margin-right: auto;
  margin-bottom: 3px;
}
.footer__socials {
  display: flex;
  margin-right: 75px;
  margin-bottom: 6px;
}
.footer__contacts {
  text-align: right;
}
.footer_logo_big {
  margin-left: 0px;
  padding-top: 48px;
  padding-bottom: 33px;
}
.footer_logo_big .footer__logo {
  margin-right: 66px;
  margin-left: 1px;
}

.footer_logo_big .footer__menu {
  margin-bottom: 6px;
}

.footer_logo_big .footer__socials {
  margin-bottom: 10px;
}
