.header__inner {
  display: flex;
  justify-content: start;
  align-items: center;
  max-width: 1141px;
  margin-left: 1px;
  padding-top: 28px;
  padding-bottom: 120px;
}

.header__menu {
  margin-right: auto;
}

.header__contacts {
}

.header__logo {
  margin-bottom: 10px;
  margin-right: 80px;
}
