.hero {
  margin-left: 1px;
  min-height: 579px;
}

.hero h1 {
  font-size: 72px;
  max-width: 510px;
  margin-bottom: 26px;
  line-height: 1.37em;
}

.hero p {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 30px;
}
