.info {
  max-width: 1139px;
  padding-bottom: 53px;
}
.info__img {
  width: 490px;
  height: 505px;
  border-radius: 5px;
  background-image: url(../../img/moto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.info__about {
  margin-top: -409px;
  margin-left: 354px;
}
