.main__container {
    background-image: url(../../img/second-bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.main__container:after {
    content: "";
    display: block;
    height: 1px;
    background-color: #fff;
    opacity: 10%;
    margin-top: 55px;
}
