.menu {
  display: flex;
}

.menu__item:not(.menu__item:last-child) {
  margin-right: 54px;
}
.menu__item:hover .menu__link {
  transition: color 0.2s ease-in-out;
  color: #da0100;
}

.menu__link {
  font-size: 14px;
  line-height: 1.36;
}
