.news {
  padding-bottom: 144px;
}
.news__list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  max-width: 1139px;
  margin-bottom: 54px;
  font-size: 0;
  line-height: 0;
}

.news__title {
  margin-left: 1px;
  margin-bottom: 51px;
}

.news__item {
  flex-basis: 557px;
  max-width: 557px;
  min-height: 394px;
  border-radius: 5px;
}

.news__item:first-of-type .promo__title {
  margin-bottom: 4px;
}

.news__item:nth-of-type(2) .promo__text {
  line-height: 1.5em;
}
