.offers {
  padding-bottom: 84px;
}

.offers h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 1.36;
  letter-spacing: 0px;
  text-align: left;
  margin-left: 1px;
  margin-bottom: 103px;
}

.offers .breadcrumps {
  margin-left: -1px;
  margin-bottom: 121px;
}

.offers__list {
  display: flex;
  flex-direction: column;
  gap: 49px;
  margin-bottom: 65px;
}

.offers__paginator .paginator__counter {
  margin-left: 38px;
}
