.offers {
  padding-top: 97px;
  padding-bottom: 84px;
}

.offers__list {
  display: flex;
  flex-direction: column;
  gap: 49px;
  margin-bottom: 65px;
}

@media all and (min-width: 1196px) {
  .offers__list {
    margin-left: 26px;
  }
}

.offers__paginator .paginator__counter {
  margin-left: 38px;
}
