.option {
  display: inline-flex;
  padding: 0 17px;
  justify-content: center;
  align-items: center;
  height: 37px;
  background-color: #e7e7e7;
  border-radius: 35px;
  font-size: 13px;
  line-height: 1.4;
  color: #303030;
  user-select: none;
  transition: background-color 0.2s ease-in-out;
}

.option_selected {
  background-color: #b9eae4;
}
