.paginator {
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.paginator__counter {
    display: inline-block;
    margin-right: 24px;
    margin-left: 5px;
    line-height: 20px;
}
.paginator__list {
    display: inline-block;
}
.paginator__item {
    display: inline-block;
    text-align: center;
    padding: 5px 10.22px;
    font-weight: 700;
    line-height: 21px;
}

.paginator__item:hover {
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.paginator__item:hover .paginator__link {
    color: #f5170e;
}
.paginator__item_active {
}
