.promo {
    width: 557px;
    height: 394px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: contain;
    border-radius: 5px;
    padding: 47.5px 32px;
}

.news__item:nth-child(1) .promo {
    background-image: url(../../img/plain.jpg);
}

.news__item:nth-child(2) .promo {
    background-image: url(../../img/surfer.jpg);
}

.promo__date {
    line-height: 21px;
    letter-spacing: 0px;
    margin-bottom: 12.5px;
}
.promo__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0px;
    margin-bottom: 3.5px;
}
.promo__text {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0px;
}
