.promo {
  background-size: cover;
  border-radius: 5px;
  padding: 0 30px 26px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.promo__info {
  margin-top: auto;
  min-height: 115px;
}

.promo time {
  display: block;
  font-size: 14px;
  line-height: 1.5em;
  margin-bottom: 12.5px;
}
.promo h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5em;
}
.promo p {
  font-size: 16px;
  line-height: 1.3em;
}
