.promo {
    width: 557px;
    min-height: 394px;
    background-size: contain;
    border-radius: 5px;
    padding: 252.5px 29px 26px;
}

.news__item:nth-child(1) .promo {
    background-image: url(../../img/plain.jpg);
}

.news__item:nth-child(2) .promo {
    background-image: url(../../img/surfer.jpg);
}

.promo__date {
    display: block;
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 12.5px;
}
.promo__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5em;
}
.promo__text {
    font-size: 16px;
    line-height: 1.3em;
}
