.schedule {
  color: #1e1f20;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.6em;
}

.schedule__title {
  font-weight: 400;
  color: #98a4a8;
  font-size: 13px;
  line-height: 1.53em;
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.3s ease-in-out, text-decoration 0.2s ease-in-out;
}

.schedule:hover .schedule__list {
  transform: scale(1);
  opacity: 1;
  transition: opacity 0.3s ease-in-out, transform 0.01s;
}
.schedule:hover .schedule__title {
  color: #fff;
  text-decoration: none;
}

.schedule__list {
  width: 157px;
  transform: scale(0);
  position: absolute;
  top: 17px;
  right: 0px;
  padding: 21px 17px 15px 17px;
  text-align: left;
  background-color: transparent;
  background-image: url(../../img/shedule-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, transform 0.01s 0.2s;
}

.schedule__item:nth-child(2) {
  font-weight: 600;
}
