.schedule {
  color: #1e1f20;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.6em;
}

.schedule__link {
  font-weight: 400;
  color: #98a4a8;
  font-size: 13px;
  line-height: 1.53em;
  cursor: pointer;
  text-decoration: underline;
}

.schedule:hover .schedule__list {
  display: block;
}
.schedule:hover .schedule__link {
  color: #fff;
}

.schedule__list {
  width: 157px;
  display: none;
  position: absolute;
  top: 18px;
  right: 0px;
  padding: 21px 17px 15px 17px;
  text-align: left;
  background-color: transparent;
  background-image: url(../../img/shedule-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.schedule__item:nth-child(2) {
  font-weight: 600;
}
