.service {
  display: flex;
  flex-wrap: wrap;
  color: #000;
  gap: 56px;
  letter-spacing: 0;
}

.service__img-container {
  max-width: 460px;
  border-radius: 5px;
}

.service img {
  display: block;
  object-fit: cover;
}

.service__info {
  max-width: 628px;
  text-align: left;
}

.service h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.36;
  margin: 13px 0 28px 2px;
}

.service p {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 33px;
}
