.travels {
    max-width: 1140px;
}

.travels__title {
    margin-bottom: 51px;
}

.travels__list {
    font-size: 0px;
    line-height: 0px;
}

.travels__item {
    display: inline-block;
    max-width: 362px;
}

.travels__item:not(:last-of-type) {
    margin-right: 27px;
}

.travels__item:last-of-type {
    vertical-align: bottom;
}
