.wrapper_feedback {
  background-color: #fff;
  letter-spacing: 0px;
}

.wrapper_feedback main {
  margin-left: 1px;
}

.wrapper_feedback header {
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: top;
  margin-bottom: 97px;
}

.wrapper_feedback .header__inner {
  max-width: 1142px;
}

.wrapper_feedback .header__title {
  flex-basis: 213px;
  margin-left: 5px;
}
